body{
    background-color: #caffffda;
}
#formulario{
    box-shadow: 5px 5px 5px 5px black;
    padding: 40px;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto; 
}