body{
    background-color: #caffffda;
}
h1{
    text-align: center;
}
input {
    width: 200px;
    border-radius: 50px;
    border-bottom: 5px;
}
#formulario{
    box-shadow: 5px 5px 5px 5px black;
    padding: 40px;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto; 
    width: 80vh;
}